.svg-americanexpress {
    background: url("svg/sprite.css-fa4f14ce.svg") 62.5% 89.52380952380952% no-repeat;
}

.svg-americanexpress-dims {
    width: 34px;
    height: 24px;
}

.svg-btn-appstore {
    background: url("svg/sprite.css-fa4f14ce.svg") 0 30% no-repeat;
}

.svg-btn-appstore-dims {
    width: 170px;
    height: 54px;
}

.svg-btn-google-play {
    background: url("svg/sprite.css-fa4f14ce.svg") 0 0 no-repeat;
}

.svg-btn-google-play-dims {
    width: 170px;
    height: 54px;
}

.svg-card {
    background: url("svg/sprite.css-fa4f14ce.svg") 63.775510204081634% 62.42774566473989% no-repeat;
}

.svg-card-dims {
    width: 101.84px;
    height: 61px;
}

.svg-card-number {
    background: url("svg/sprite.css-fa4f14ce.svg") 100% 0 no-repeat;
}

.svg-card-number-dims {
    width: 120px;
    height: 80px;
}

.svg-cvv-number {
    background: url("svg/sprite.css-fa4f14ce.svg") 0 70.12987012987013% no-repeat;
}

.svg-cvv-number-dims {
    width: 120px;
    height: 80px;
}

.svg-discover {
    background: url("svg/sprite.css-fa4f14ce.svg") 49.21875% 89.52380952380952% no-repeat;
}

.svg-discover-dims {
    width: 34px;
    height: 24px;
}

.svg-index-lg {
    background: url("svg/sprite.css-fa4f14ce.svg") 88.17647058823529% 67.22222222222221% no-repeat;
}

.svg-index-lg-dims {
    width: 18px;
    height: 18px;
}

.svg-mastercard {
    background: url("svg/sprite.css-fa4f14ce.svg") 35.9375% 89.52380952380952% no-repeat;
}

.svg-mastercard-dims {
    width: 34px;
    height: 24px;
}

.svg-payment-alipay {
    background: url("svg/sprite.css-fa4f14ce.svg") 77.27272727272727% 38.46153846153846% no-repeat;
}

.svg-payment-alipay-dims {
    width: 70px;
    height: 26px;
}

.svg-payment-bitcoin {
    background: url("svg/sprite.css-fa4f14ce.svg") 99.03571428571429% 49.76958525345622% no-repeat;
}

.svg-payment-bitcoin-dims {
    width: 66px;
    height: 17px;
}

.svg-payment-paypal {
    background: url("svg/sprite.css-fa4f14ce.svg") 99.03571428571429% 58.46585594013096% no-repeat;
}

.svg-payment-paypal-dims {
    width: 66px;
    height: 20.2px;
}

.svg-payment-unionpay {
    background: url("svg/sprite.css-fa4f14ce.svg") 98.76543209876543% 38.46153846153846% no-repeat;
}

.svg-payment-unionpay-dims {
    width: 47px;
    height: 26px;
}

.svg-protected {
    background: url("svg/sprite.css-fa4f14ce.svg") 81.55882352941177% 67.22222222222221% no-repeat;
}

.svg-protected-dims {
    width: 18px;
    height: 18px;
}

.svg-security-30day {
    background: url("svg/sprite.css-fa4f14ce.svg") 0 100% no-repeat;
}

.svg-security-30day-dims {
    width: 46px;
    height: 46px;
}

.svg-security-cancel {
    background: url("svg/sprite.css-fa4f14ce.svg") 18.852459016393443% 100% no-repeat;
}

.svg-security-cancel-dims {
    width: 46px;
    height: 46px;
}

.svg-security-lock {
    background: url("svg/sprite.css-fa4f14ce.svg") 86.68212751397179% 89.52380952380952% no-repeat;
}

.svg-security-lock-dims {
    width: 26.97px;
    height: 24px;
}

.svg-unprotected {
    background: url("svg/sprite.css-fa4f14ce.svg") 94.44688644688647% 66.91244239631335% no-repeat;
}

.svg-unprotected-dims {
    width: 17px;
    height: 17px;
}

.svg-visa {
    background: url("svg/sprite.css-fa4f14ce.svg") 75.78125% 89.52380952380952% no-repeat;
}

.svg-visa-dims {
    width: 34px;
    height: 24px;
}
